---
import {getCollection} from "astro:content";
import dayjs from "dayjs";

import Center from "../../components/Center.astro";
import PageHeader from "../../components/PageHeader.astro";
import BlogpostPreview from "../../components/BlogpostPreview.astro";
import SubscribeCallout from "../../components/Subscribe/SubscribeCallout.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blog = await getCollection("blog");
const sortedBlog = blog.sort((a, b) =>
  dayjs(a.data.datePublished).isAfter(dayjs(b.data.datePublished)) ? -1 : 1
);

const title = "Blog";
const description = "A crappy piece of internet real estate, but it's mine";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader title={title} description={description} slug="blog" />
  <Center>
    <section class="blog">
      {
        sortedBlog.map(({ slug, data }) => (
          <BlogpostPreview
            slug={slug}
            title={data.title}
            description={data.description}
            datePublished={data.datePublished}
            dateModified={data.dateModified}
            img={data.img}
            imgAlt={data.imgAlt}
            ogImage={data.ogImage}
            url={data.url}
            repo={data.repo}
            tags={data.tags}
            visibility={data.visibility}
          />
        ))
      }
    </section>
    <SubscribeCallout />
  </Center>
</BaseLayout>

<style>
  .blog {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-block-end: 4em;
  }
</style>
